<!DOCTYPE html>
<html lang="en">
  <html lang="en">
    <head>
      <%-include('head.ejs') %>
      <title>Interaction</title>
    </head>

    <body class="container">
      <form class="send-eth">
        <div class="send-eth__address">
          <select class="send-eth__select"></select>
          <div type="button" class="send-eth__copy">
            <i class="far fa-copy"></i>
          </div>
        </div>

        <input
          class="send-eth__to"
          type="text"
          placeholder="Enter your walletAddress"
        />
        <input
          class="send-eth__eth"
          type="number"
          placeholder="Enter eth price to send"
        />
        <button type="submit" class="send-eth__send">SEND</button>
      </form>
      <div class="contract">
        <p class="contract__address">Contract: -</p>
        <button class="contract__deploy">Deploy</button>

        <div class="contract__interaction"></div>
      </div>

      <div class="dropdown">
        <button>Button</button>
        <div class="dropdown__list hidden">
          <div>1</div>
          <div>2</div>
          <div>3</div>
          <div>4</div>
        </div>
      </div>
      <button class="call-tx">Call</button>
      <div class="compile">
        <select class="compile__solFiles"></select>
        <button class="compile__submit">Copile</button>
      </div>

      <%-include('script.ejs') %>
      <script
        nonce="<%= nonce %>"
        src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"
      ></script>
    </body>
  </html>
</html>
