<!DOCTYPE html>
<html lang="en">
  <html lang="en">
    <head>
      <%-include('head.ejs') %>
      <title>Interaction</title>
    </head>

    <body>
      <div class="test-container">
        <input type="text" placeholder="Enter your walletAddress" />
        <input type="text" placeholder="Enter eth price to send" />
        <button>RUN</button>
        <button class="test-show-message">show message</button>
      </div>
      <%-include('script.ejs') %>
    </body>
  </html>
</html>
