<!DOCTYPE html>
<html lang="en">
<html lang="en">

<head>
  <%-include('head.ejs') %>
    <title>Deploy & Function Interaction</title>
</head>

<body class="container">
  <p class="head">Contract</p>
  <div class="compile">
    <select class="compile__solFiles"></select>
    <button class="compile__submit">Compile</button>
    <div class="compile__interaction"></div>
  </div>

  <p class="head">Chain</p>
  <input class="" type="text" placeholder="AntiBug Testnet" disabled />

  <form class="contract__deploy-form">
    <p class="head">Account</p>
    <div class="send-eth__address">
      <select class="send-eth__select"></select>
      <div type="button" class="send-eth__copy">
        <i class="far fa-copy"></i>
      </div>
    </div>

    <p class="head">Gas Limit</p>
    <input class="send-eth__gas" type="number" value="3000000" />

    <p class="head">Wallet Address</p>
    <input class="send-eth__to" type="text" placeholder="Enter your walletAddress" />

    <p class="head">Value</p>
    <div class="send-eth__value">
      <input class="send-eth__eth" type="number" value="0" />
      <select class="send-eth__unit">
        <option value="eth">ETH</option>
        <option value="wei">Wei</option>
        <option value="gwei">Gwei</option>
        <option value="finney">Finney</option>
      </select>
    </div>

    <div class="contract">
      <p class="head">Contract</p>
      <select class="contract__select"></select>
      <div class="contract__constructor"></div>

      <p class="contract__address">Contract: -</p>
      <button type="submit" class="contract__deploy" disabled>Deploy</button>
    </div>
  </form>


  <%-include('script.ejs') %>
    <script nonce="<%= nonce %>" src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
</body>

</html>

</html>