<!DOCTYPE html>
<html lang="en">

<head>
  <%-include('head.ejs') %>
    <title>Security Analysis</title>
</head>

<body>
  <div class="container">

    <p class="head">Applicable Rule</p>
    <!-- <div class="button-rule">
      <button class="button-rule__add">+</button>
      <button class="button-rule__reset">-</button>
      <img class="icon" src="../../images/refresh.png">
    </div> -->

    <div class="check-box">
      <label><input type="checkbox" name="rule" value="Reentrancy">Reentrancy</label><br>
      <label><input type="checkbox" name="rule" value="tx-origin">tx-origin</label><br>
      <label><input type="checkbox" name="rule" value="Bad Randomness">Bad Randomness</label><br>
      <label><input type="checkbox" name="rule" value="Delegatecall">Delegatecall</label><br>
    </div>

    <!-- <p class="head">Print Type</p>

    <div class="check-box">
      <label><input type="checkbox" name="print-type" value="Graph">Graph</label><br>
      <label><input type="checkbox" name="print-type" value="Detail">Detail</label><br>
      <label><input type="checkbox" name="print-type" value="Summary">Summary</label><br>
    </div> -->

    <!-- <div>
      <div class="toggle-button__align">
      <p class="head">Vulnerability Detection by Code Similarity</p>

      <script nonce="<%= nonce %>">
        window.addEventListener("DOMContentLoaded", () => {
          toggleAction();
        })
      </script>

        <button class="toggle-button__switch" id="toggle-button" onclick="toggleAction()">
          <span class="slider"></span>
        </button>
      </div>

      <div id="toggle-content">
        <input class="input-similar__filepath" type="text" placeholder="File Path" />
        <input class="input-similar__contract" type="text" placeholder="Contract name" />
        <input class="input-similar__function" type="text" placeholder="Function name" />
      </div>
    </div> -->

    <button class="button-analysis" command="analysis">Analysis</button>
    <button class="button-auditreport" command="auditreport">Audit Report</button>


  </div>
  <%-include('script.ejs') %>
</body>

</html>