<!DOCTYPE html>
<html lang="en">
  <html lang="en">
    <head>
      <%-include('head.ejs') %>
      <title>Testcode</title>
    </head>

    <body>
      <div class="testcode-container">
        <p>아직 디자인 미정</p>
      </div>
      <%-include('script.ejs') %>
    </body>
  </html>
</html>
