button {
    margin: 10px 0;
    border-radius: 5px;
}

button:disabled {
    background-color: var(--vscode-disabledForeground);
}

input, input::placeholder, select {
    font-size: var(--vscode-font-size);
}

.head {
    margin: 15px 0 10px 0;
    font-weight: bold;
}

.send-eth {
    display: flex;
    flex-direction: column;
}

.send-eth__address {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.send-eth__value {
    display: flex;
    column-gap: 10px;
}

.send-eth__copy {
    cursor: pointer;
}

.compile__interaction {
    display: flex;
    justify-content: right;
}

.compile__copy {
    width: 80px;
    padding: 10px;
    font-size: smaller;
    margin: 0 0 0 3px;
    border-radius: 25px;
    color: var(--vscode-editor-foreground);
    background: var(--vscode-button-separator);
    display: flex;
    align-items: center;
    justify-content: center;
}

.compile__copy:hover {
    background: var(--vscode-editorHoverWidget-highlightForeground);
}

.contract__title {
    display: flex;
    justify-content: space-between;
    column-gap: 10px;

    font-size: 15px;
    font-weight: bold;
    border-top: 1px solid #e9950c;
    border-bottom: 1px solid #3d3d3d;
    padding: 10px 0px;
}

.contract__actions {
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    padding: 10px 0px;
}

.contract__actions.hidden {
    display: none;
}

.function__action-single {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.function__action-multi {
    display: flex;
    padding: 10px;
    flex-direction: column;
    row-gap: 8px;
}

.function__action-multi.hidden {
    display: none;
}

.argument {
    display: flex;
    align-items: flex-end;
    column-gap: 10px;
}

.argument__name {
    width: 200px;
}

.function__action {
    max-width: 150px;
    width: 100%;

    border-radius: 5px;
    background-color: #e9950c;
}

.function__action:has(+ input) {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.function__action-single input {
    position: relative;
    top: 1px;
    min-height: 100%;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.function__action:hover {
    background-color: #d1850b;
}

.function__action.pure,
.function__action.view {
    background-color: #2e95d3;
}

.function__action.pure:hover,
.function__action.view:hover {
    background-color: #2887bf;
}

.function__action.payable {
    background-color: #f22c3d;
}

.function__action.payable:hover {
    background-color: #d22635;
}

.send-eth__gas:hover,
.send-eth__to:hover,
.send-eth__eth:hover,
.compile__solFiles:focus,
.send-eth__select:focus,
.send-eth__unit:focus,
.send-eth__gas:focus,
.send-eth__to:focus,
.send-eth__eth:focus {
    border: 1px solid #e9950c;
    border-radius: 5px;
}

.compile__solFiles:focus,
.send-eth__select:focus,
.send-eth__unit:focus,
.send-eth__gas:focus,
.send-eth__to:focus,
.send-eth__eth:focus {
    outline: none;
}

#toggle-content {
    display: none;
    margin: 0 0 10px 0;
}

.toggle-button__align {
    display: flex;
    width: 100%;
}

.toggle-button__switch {
    position: relative;
    width: 40px;
    height: 20px;
    background-color: #ccc;
    border: none;
    border-radius: 34px;
    cursor: pointer;
    margin-top: auto;
    margin-bottom: 5px;
    margin-left: auto;
}

.slider {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background-color: white;
    border-radius: 50%;
    left: 4px;
    bottom: 4px;
    transition: transform 0.4s;
}

.input-similar__filepath,
.input-similar__contract,
.input-similar__function {
    margin: 5px 0;
}

.constructor {
    display: flex;
    align-items: center;
    padding: 5px 0 0 5px;
}

.constructor__name {
    width: 40%;
    padding: 10px;
    text-align: right;
}

.constructor__input {
    padding: 10px;
}