button {
    margin: 10px 0;
    border-radius: 5px;
}

button:disabled {
    background-color: var(--vscode-disabledForeground);
}

input, input::placeholder, select {
    font-size: var(--vscode-font-size);
}

.head {
    margin: 15px 0 7px 0;
    font-weight: bold;
}

.send-eth {
    display: flex;
    flex-direction: column;
}

.send-eth__address {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.send-eth__value {
    display: flex;
    column-gap: 10px;
}

.send-eth__copy {
    cursor: pointer;
}

.compile__interaction {
    display: flex;
    justify-content: right;
}

.compile__copy {
    width: 80px;
    padding: 10px;
    font-size: smaller;
    margin: 0 0 0 3px;
    border-radius: 25px;
    color: var(--vscode-editor-foreground);
    background: var(--vscode-button-separator);
    display: flex;
    align-items: center;
    justify-content: center;
}

.compile__copy:hover {
    background: var(--vscode-editorHoverWidget-highlightForeground);
}

.compile__solFiles,
.send-eth select,
.send-eth input,
.contract__select {
    border: 1px solid var(--vscode-input-background);
    border-radius: 5px;
    outline: none;

}

.compile__solFiles:focus,
.send-eth select:focus,
.send-eth input:hover,
.contract__select:focus {
    border: 1px solid #e9950c;
    border-radius: 5px;
    outline: none;

}

#toggle-content {
    display: none;
    margin: 0 0 10px 0;
}

.toggle-button__align {
    display: flex;
    width: 100%;
}

.toggle-button__switch {
    position: relative;
    width: 40px;
    height: 20px;
    background-color: #ccc;
    border: none;
    border-radius: 34px;
    cursor: pointer;
    margin-top: auto;
    margin-bottom: 5px;
    margin-left: auto;
}

.slider {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background-color: white;
    border-radius: 50%;
    left: 4px;
    bottom: 4px;
    transition: transform 0.4s;
}

.input-similar__filepath,
.input-similar__contract,
.input-similar__function {
    margin: 5px 0;
}

.constructor {
    display: flex;
    align-items: center;
}

.constructor__name {
    width: 40%;
    padding: 10px;
    text-align: right;
}

.constructor__input {
    margin: 5px;
}