        body {
            margin-top: 10px;
            line-height: 1.6;
        }

        .container {
            width: 100%;
            margin: 0 auto;
        }

        ul.tabs {
            display: flex;
            width: 100%;
            margin: 0;
            padding: 0;
            list-style: none;
        }

        ul.tabs li {
            width: inherit;
            font-weight: bold;
            background: none;
            color: var(--vscode-tab-inactiveForeground);
            display: inline-block;
            padding: 10px 15px;
            cursor: pointer;
        }

        ul.tabs li.current {
            background: var(--vscode-button-background);
            color: var(--vscode-button-foreground);

        }

        .tab-title {
            color: var(--vscode-peekViewTitleLabel-foreground);
        }

        .tab-content {
            display: none;
            border: 1px solid var(--vscode-button-hoverBackground);
            color: #000000;
            padding: 15px;
        }

        .tab-content.current {
            display: inherit;
        }

        .contract {
            margin: 10px;
            background-color: var(--vscode-actionBar-toggledBackground);
        }

        .contract.hidden {
            display: none;
        }

        .contract__title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            column-gap: 10px;
            font-size: 15px;
            font-weight: bold;
            border-top: 1px solid #e9950c;
            border-bottom: 1px solid #3d3d3d;
            padding: 0 15px;
        }

        .contract__name,
        .contract__icon,
        .argument__name {
            color: var(--vscode-peekViewTitleLabel-foreground);
        }

        .contract__actions {
            display: flex;
            flex-direction: column;
            row-gap: 10px;
            padding: 10px;
        }

        .contract__actions.hidden {
            display: none;
        }

        .function__action-single {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .function__action-multi {
            display: flex;
            padding: 10px 0 10px 10px;
            flex-direction: column;
            row-gap: 8px;
        }

        .function__action-multi.hidden {
            display: none;
        }

        .argument {
            display: flex;
            align-items: center;
            column-gap: 10px;
        }

        .argument__name {
            width: 200px;
            text-align: right;
        }

        .function button {
            border-radius: 5px;
        }

        .function input {
            padding: 6px
        }

        .function__action {
            max-width: 150px;
            width: 100%;
            padding: 8px;
            border-radius: 5px;
            background-color: #e9950c;
        }

        .function__action-single input {
            position: relative;
            top: 1px;
            min-height: 100%;
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
        }

        .function__action:hover {
            background-color: #d1850b;
        }

        .function__action.pure,
        .function__action.view {
            background-color: #2e95d3;
        }

        .function__action.pure:hover,
        .function__action.view:hover {
            background-color: #2887bf;
        }

        .function__action.payable {
            background-color: #ef5562;
        }

        .function__action.payable:hover {
            background-color: #d04854;
        }

        .tooltip {
            visibility: hidden;
            width: 120px;
            background-color: #333;
            color: #fff;
            text-align: center;
            border-radius: 6px;
            padding: 5px;
            position: absolute;
            z-index: 1;
            bottom: 125%;
            left: 50%;
            margin-left: -60px;
            opacity: 0;
            transition: opacity 0.3s;
        }

        .function__action:hover .tooltip {
            visibility: visible;
            opacity: 1;
        }