        body {
            margin-top: 10px;
            line-height: 1.6;
        }

        .container {
            width: 100%;
            margin: 0 auto;
        }

        ul.tabs {
            display: flex;
            width: 100%;
            margin: 0;
            padding: 0;
            list-style: none;
        }

        ul.tabs li {
            width: inherit;
            font-weight: bold;
            background: none;
            color: var(--vscode-tab-inactiveForeground);
            display: inline-block;
            padding: 10px 15px;
            cursor: pointer;
        }

        ul.tabs li.current {
            background: var(--vscode-button-background);
            color: var(--vscode-button-foreground);

        }

        .tab-title {
            color: var(--vscode-peekViewTitleLabel-foreground);
        }

        .tab-content {
            display: none;
            border: 1px solid var(--vscode-button-hoverBackground);
            color: #000000;
            padding: 15px;
        }

        .tab-content.current {
            display: inherit;
        }

        .contract {
            margin: 10px;
            background-color: var(--vscode-actionBar-toggledBackground);
        }

        .contract.hidden {
            display: none;
        }

        .contract__title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            column-gap: 10px;
            border-top: 1px solid #e9950c;
            border-bottom: 1px solid #636363;
            padding: 0 15px;
        }

        .contract__icon {
            color: var(--vscode-peekViewTitleLabel-foreground);
        }

        .contract__name,
        .contract__address,
        .contract__name-address {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            max-width: calc(100% - 5px);
        }

        .contract__name {
            font-size: 15px;
            font-weight: bold;
            margin: 10px 0 5px 0;
            color: var(--vscode-peekViewTitleLabel-foreground);
        }

        .contract__address {
            font-size: 13px;
            margin: 0 0 10px 0;
            color: var(--vscode-peekViewResult-lineForeground);
        }

        .contract__actions {
            display: flex;
            flex-direction: column;
            row-gap: 10px;
            padding: 10px;
        }

        .contract__actions.hidden {
            display: none;
        }

        .function__action-single {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .function__action-multi {
            display: flex;
            padding: 10px 0 10px 10px;
            flex-direction: column;
            row-gap: 8px;
        }

        .function__action-multi.hidden {
            display: none;
        }

        .argument {
            display: flex;
            align-items: center;
            column-gap: 10px;
        }

        .argument__name {
            width: 200px;
            text-align: right;
        }

        .function button {
            border-radius: 5px;
        }

        .function input {
            padding: 6px
        }

        .function__action {
            min-width: 120px;
            padding: 8px;
            border-radius: 5px;
            background-color: var(--vscode-terminal-ansiBrightGreen);
            color: var(--vscode-peekViewTitleLabel-foreground);
        }

        .function__action-single input {
            position: relative;
            width: 100%;
            height: 100%;
            border-radius: 5px;
            font-size: smaller;
        }

        .function__action:hover {
            background-color: var(--vscode-terminal-ansiGreen);
        }

        .function__action.pure,
        .function__action.view {
            background-color: var(--vscode-terminal-ansiBrightBlue);
        }

        .function__action.pure:hover,
        .function__action.view:hover {
            background-color: var(--vscode-terminal-ansiBlue);
        }

        .function__action.payable {
            background-color: var(--vscode-terminal-ansiBrightMagenta);
        }

        .function__action.payable:hover {
            background-color: var(--vscode-terminal-ansiMagenta);
        }